[submodule=accordion] {
	> .flex {
		flex-wrap:nowrap;
		flex-direction: column;
		padding-top: 16px;
		[task=skill-cat-add] {
			background-color: $cl-main-black;
			border-color: $cl-main-dark;
			&:hover {
				background-color: $cl-main-black-60;
			}
		}
	}

	.element {
		margin-bottom: 2px;
	}

	[task=accordion_title] {
		padding: 14px 0px;
		margin-top: -16px;
		background-color: $cl-main-black;
		cursor: pointer;
		justify-content: space-between;
		>p {
			margin: 0px 18px;
			font-size: $font-xl;
			pointer-events: none;
		}
		span {
			font-size: $font-xl;
		}
		>.flex {
			margin-right: 8px;
		}

		&:hover {
			background-color: $cl-main-black-80;
		}
	}

	[task=accordion_content] {
		height: 0px;
		overflow: hidden;
		opacity: 0;
		background-color: $cl-main-dark;
		padding: 8px 12px;
		button[task=skill-add] {
			background-color: $cl-main;
			&:hover {
				background-color: $cl-main-black-60;
			}
			&:active {
				background-color: $cl-main-black-80;
			}
		}
		&.active {
			height: auto;
			padding-bottom: 10px;
			margin-bottom: 14px;
			opacity: 1;
		}
	}
	&.clean {
		[task=accordion_title] {
			background: none;
			p {
				margin: 0px 0px;
				font-size: $font-s;
			}

			&:hover {
				text-decoration: underline;
				color: $cl-grey;
			}
		}
	}
	
}

[submodule=accordion_inner] {
	&[sub_acc=true] {
		margin-bottom: 0px;
		>.flex {
			margin:0!important;
			flex-direction: column;
			flex-wrap:nowrap;
			[task=skill-cat-add] {
				width: 100%;
			}
		}
		[task=accordion_title] {
			background-color: $cl-main-black-40;
			> .flex[item=skill] {
				padding: 0em 1em;
				margin:0;
			}
			font-weight: bold;
			padding: 8px 0px;
			cursor: pointer;
			p {
				margin: 0px 18px;
				font-size: $font-xs;
			}

			&:hover {
				background-color: $cl-main-black-80;
			}
		}
		[task=accordion_content] {
			>.flex {
				justify-content: flex-start;
			}
			.element {
				flex-basis: calc(50% - 2em);
				max-width: calc(50% - 2em);
				margin-left: 1em;
				padding-bottom: 0.5em;
			}
		}
	}
}