[submodule="attributes"] {
	border: 1px $cl-font solid;
	margin-right: 20px;
	min-width: 160px;
	width: 160px;
	max-width: 160px;
	.heading {
		font-size: 24px;
		text-align: center;
		border-bottom: 1px $cl-font solid;
		padding: 4px 0px;
	}

	.attributes-wrapper {
		margin: 12px 4px 24px;
		&:last-child {
			margin-bottom: 0px;
		}
		>.flex {
			flex-direction: column;
		}
		.attribute {
			position: relative;
			border-bottom: 1px solid $cl-darkgrey;
			padding: 8px;
			&.active-item-settings {
				
			}
			.full-title p{
				font-size: $font-xs;
				color: $cl-darkgrey;
			}
			>.flex {
				flex-wrap: nowrap;
				align-items: center;
			}
			.title {
				font-size: $font-xs;
				width: 50px;
				p {
					font-size: $font-l;
					margin: 0;
					font-transform: uppercase;
				}
			}
			.value {
				input {
					width: 24px;
					text-align: center;
					padding: 2px;
				}
			}
			.dice-preview {
				flex-grow: 1;
				text-align: right;
			}
			.setting {
				position: absolute;
				border: 1px solid $cl-grey;
				border-radius: 50%;
				background-color: $cl-main-dark;
				height: 1.5em;
				width: 1.5em;
				line-height: 0px;
				pointer-events:none;
				opacity: 0;
				z-index: 1;
				transition: left ease 250ms, right ease 250ms, top ease 250ms, bottom ease 250ms, opacity ease 500ms;
				
				&:hover {
					background-color: $cl-main-black;
				}
				&.pos-1 {
					top: 54%;
					right: 25%;
				}
				&.pos-2 {
				}
				&.pos-3 {
				}
				&.pos-4 {
				}
				&.pos-5 {
				}
				&.pos-6 {
					left: 30%;
					bottom: 19%;
				}
				&.pos-7 {
				}
				&.pos-8 {
				}
				&.pos-9 {
				}
				&.pos-10 {
				}
				&.pos-11 {
					top: 54%;
					left: 30%;
				}
				&.pos-12 {
				}
			}
			&.active-item-settings {
				.setting {
					pointer-events:auto;
					opacity: 1;
					&.pos-1 {
						top: 25%;
						right: -16%;
					}
					&.pos-2 {
					}
					&.pos-3 {
					}
					&.pos-4 {
					}
					&.pos-5 {
					}
					&.pos-6 {
						left: 30%;
						bottom: -20%;
					}
					&.pos-7 {
					}
					&.pos-8 {
					}
					&.pos-9 {
					}
					&.pos-10 {
					}
					&.pos-11 {
						top: 25%;
						left: -15%;
					}
					&.pos-12 {
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1080px) {
		.heading {
			font-size: $font-xl;
		}
	}
	@media only screen and (max-width: 940px) {
		width: 100%;
		max-width: 100%;
		margin-bottom: 40px;

		.attributes-wrapper {
			>.flex {
				flex-direction: row;
			}
		}
	}
}
