[submodule="header"] {
	margin-bottom: 1em;
	> .flex {

	}
	.media-wrap {
		margin-right: 1em;
		.media {
			width: 140px;
			height: 140px;
			background-color: $cl-main-dark;
			border: 1px solid $cl-grey;
		}
	}
	.info-wrap {
		[item="base_name_main"], [item="base_name_nick"] {
			font-size: $font-supersize;
		}
		[item="base_gender"], [item="base_race"] {
		}

		[item="base_name_main"], [item="base_gender"] {
			position: relative;
			margin-right: 12px;
			&:after {
				content: " ";
				position: absolute;
				border: 1px solid $cl-main-dark;
				height: 100%;
				right: -7px;
				bottom: 0px;
			}
		}
	}
}