[submodule='equipment'] {
	>.flex {
		flex-wrap: nowrap;
		.main {
			flex-basis: 100%;
			margin-right: 12px;
		}
		.sub {
			min-width: 250px;
			width: 250px;
		}
	}
	[item=equipment] {
		border-bottom: 1px solid $cl-darkgrey;
		>.flex {
			&.base-section {
				&>div:last-child {
					flex-grow: 1;
					justify-content: flex-end;
				}
			}
			&.info-section {
				
			}
		}
	}
	@media only screen and (max-width: 760px) {
		>.flex {
			flex-wrap:wrap;
		}
	}
}
#money_content, [overlay=update_money] {
	.heading {
		padding: 14px 0px;
		background-color: $cl-main-black;
		justify-content: space-between;
		>p {
			margin: 0px 18px;
			font-size: $font-xl;
			pointer-events: none;
		}
		>.flex {
			justify-content: flex-end;
		}
	}
	.content.flex {
		justify-content: space-between;
		background-color: $cl-main-dark;
		padding: 8px 12px;
		>div {
			flex-basis: 50%;
		}
	}
	[item=money_main], [item=money_bank] {
		>p {
			margin:0;
			font-size: $font-l;
		}
	}
	.group {
		padding: 6px;
		border: 1px solid $cl-grey;
		
		>.flex {
			flex-wrap: nowrap;
			justify-content: space-between;
		}
		[item=money_amount] {
			text-align: right;
		}
		span, input {
			font-size: $font-l;
		}
		p {
			font-family: $font-tech;
			&.info {
				font-size: $font-xxs;
				color:$cl-darkgrey;
			}
		}

		input {
			width: calc(100% - 3em);
			text-align: right;
			border: none;
			padding-right: 2px;
		}
	}
	@media only screen and (max-width: 1080px) {
		.heading {
			padding: 8px 0px;
			>p {
				font-size: $font-l;
			}
		}
	}
}
