[submodule='skills'] {
	[item='skill'].flex {
		flex-wrap: nowrap;
		border-bottom: 1px solid $cl-darkgrey;
		> div {
			display: flex;
			align-items:center;
			flex-basis:50%;
			max-width: 250px;
			&:last-child {
				max-width: inherit;
				flex-grow: 1; 
				justify-content: flex-end;
			}
		}
		input {
			border: 1px solid $cl-grey;
			padding: 4px 0px 3px;
			width: 2.5em;
			text-align: center;
			margin-right: 2px;
		}
		.settings-btn {
			margin-right: 0px;
		}
		button {
			position: relative;
			margin: 0px 2px;
			width: 24px;
			height: 24px;
			border: 1px solid $cl-main-black;
			&[icon] {
				&:after {
					content:"";
					position: absolute;
					top:-1px;
					left:-1px;
					width: 24px;
					height: 24px;
					transform: scale(0.75);
				}
			}
		}
		span {
			line-height: 32px;
			font-size: $font-l
		}
	}
	[submodule=accordion] >.flex >.flex {
		justify-content:center;
		margin: -8px 0px 8px;
	}
}