[submodule="navigation"] {
	> .flex {
		flex-wrap: nowrap;
	}
	.nav-elem {
		button {
			font-size: $font-xxl;
			border: 1px solid $cl-font;
			border-top-right-radius: 8px;
			border-top-left-radius: 8px;
			margin-right: -1px;
			&.active {
				background-color: $cl-main-black;
			}
		}
		&.end-tab {
			flex-grow: 1;
			margin-top: -8px;
			>.flex {
				width: 100%;
				justify-content: flex-end;
				align-items: center;
				>div >.flex {
					justify-content: space-between;
					min-width: 120px;
				}
			}
			.title {
				font-size: 24px;
				margin-right: 12px;
			}
		}
	}
	@media only screen and (max-width: 1080px) {
		.nav-elem {
			button {
				font-size: $font-l;
			}
			&.end-tab {
				.title {
					font-size: $font-xl;
				}
			}
		}
	}
	@media only screen and (max-width: 760px) {
		.nav-elem {
			&.end-tab {
				margin-top: -2px;
				.title {
					font-size: $font-l;
				}
				>.flex >div >.flex {
					min-width: 90px;
					p {
						font-size: $font-xs;
					}
				}
			}
		}
	}
}
